<section class="cart-show">

  <header class="page-header>
    <h1>My Cart</h1>
  </header>

  <div class="alert alert-notice">
    Your cart is empty, please add an item to continue.
  </div>

  <div class-"text-content">
    <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
    </div>
    
  </section>